# Ignore target directory
target/

# Ignore IDE-specific files and directories
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

# Exclude all application properties files
**/src/main/resources/application*.properties

# Allow Maven wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# Allow target directories inside src/main and src/test
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/application*.properties
